/* element 组件库样式全局修改 */

@borderColor: #035e87;

#app {
  .el-date-editor {
    border-color: @borderColor;
    background: #030a1d;
    color: #fff;

    input {
      background-color: transparent;
      color: #fff;
    }

    .el-range-separator {
      color: #fff;
    }

    .el-input__inner {
      border-color: @borderColor;
    }
  }
}
