#map {
  width: 100%;
  height: 100%;
}
#map .map-button {
  position: fixed;
  z-index: 10;
  top: 50px;
  left: 50%;
}
#map .mapboxgl-popup-close-button {
  display: none;
}
#mapbox {
  width: 100%;
  height: 100%;
  background-color: #f00;
}
